Index


<div pin-form>form was not rendered</div>

<table>
  <tr>
    <th>Item Name</th>
    <th>Buy/Sell</th>
    <th>description</th>
    <th>User ID</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
<tr ng-repeat ="pin in pins | orderBy: '-created_at'">
  <!-- <td>{{pin}}</td> -->
  <td>{{pin.item_name}}</td>
  <td>{{pin.buy_sell}}</td>
  <td>{{pin.description}}</td>
  <td>{{pin.user_id}}</td>
  <td><button ng-click="removePin($index)">Delete {{$index}}</button></td>
  <td><button ng-click="updatePin($index)">Update {{$index}}</button></td>

</tr>

</table>
